<!DOCTYPE html>
@using Report.Models
<html>
<head>
    <link rel="stylesheet" href="~/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/lib/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/lib/dist/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/lib/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/lib/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-12 text-center">
                <b> <h5>ยอดขายโฆษณาของหนังสือประจำเดือน @DateTime.Now.ToString("MMMM  yyyy") ณ วันที่ @Convert.ToDateTime(ViewData["date_now"]).ToString("dd/MM/yyyy") เวลา @DateTime.Now.ToString("HH:mm")</h5></b>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-responsive">
                   
                    <thead class="text-center">
                        <tr>
                            <th>ชื่อทีม</th>
                            @foreach (var item in ViewData["group_type"] as List<group_type_tab_Model>)
                            {
                                <th>@item.group_type_name</th>
                            }
                            <th>Target ทั้งสิ้น</th>
                            <th>ยอดขายทั้งสิ้น</th>
                            <th>ขาด(-) / เกิน</th>
                            <th>เพิ่ม / ลด(-) <br /> เปรียบเทียบ ณ วันที่ @Convert.ToDateTime(ViewData["date_old"]).ToString("dd/MM/yyyy")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item1 in ViewData["det_data"] as List<ads_sales_book_det_h1_viewModel>)
                        {
                       <tr>
                           <td>@Html.Raw(item1.team_name)</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads01).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads02).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads03).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads04).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads05).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads06).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads07).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads08).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads09).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads10).ToString("0,0.00")</td>
                           <td class="text-right">@Convert.ToDouble(item1.ads11).ToString("0,0.00")</td>
                           <td class="text-right">0.00</td>
                           <td class="text-right">@Convert.ToDouble(item1.sales_amount).ToString("0,0.00")</td>
                           <td class="text-right">0.00</td>
                           <td class="text-right">@Convert.ToDouble(item1.dif_amount).ToString("0,0.00")</td>
                       </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
          <div class="col-md-1 text-center">
              กุมภาพันธ์ 2561
          </div>
           <div class="col-md-1 text-right">
               ยอดขาย =
           </div>
            <div class="col-md-1">
                3,836,639.54 บาท
            </div>
            <div class="col-md-1">
                สรุปของเดือนนี้ -->
            </div>
            <div class="col-md-1 text-right">
                Target นสพ.รายวัน =
            </div>
            <div class="col-md-1">
                0.00
            </div>
            <div class="col-md-1 text-right">
                Target Magazine =
            </div>
            <div class="col-md-1">
                0.00
            </div>
            <div class="col-md-1 text-right">
                Target ทั้งสิ้น =
            </div>
            <div class="col-md-1">
                0.00
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-1 col-md-1 text-right">
                กิจกรรม =
            </div>
            <div class="col-md-1">
                0.00 บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขาย นสพ.รายวัน =
            </div>
            <div class="col-md-1">
                @ViewData["head01"] บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขาย Magazine =
            </div>
            <div class="col-md-1">
                @ViewData["head02"] บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขายนิวมีเดีย =
            </div>
            <div class="col-md-1">
                @ViewData["head03"] บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขายงานกิจกรรม =
            </div>
            <div class="col-md-1">
                @ViewData["head05"] บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขายอีเว้นท์ =
            </div>
            <div class="col-md-1">
                @ViewData["head04"] บาท
            </div>
            <div class="col-md-offset-1 col-md-1 text-right">
                ยอดขายทั้งสิ้น =
            </div>
            <div class="col-md-1">
                @ViewData["head_total"] บาท
            </div>
        </div>
    </div>
</body>
<script src="~/lib/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/lib/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<!-- Bootstrap 3.3.7 -->
<script src="~/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="~/lib/bower_components/raphael/raphael.min.js"></script>
<script src="~/lib/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="~/lib/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="~/lib/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/lib/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/lib/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/lib/bower_components/moment/min/moment.min.js"></script>

<!-- Slimscroll -->
<script src="~/lib/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/lib/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/lib/dist/js/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/lib/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/lib/dist/js/demo.js"></script>
<!-- DataTables -->
<!-- ChartJS -->
<script src="~/lib/bower_components/Chart.js/Chart.js"></script>
<script src="~/lib/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/lib/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/lib/dist/js/pages/dashboard2.js"></script>
</html>

