@{
    Layout = "_Layout";
}

@using System.Globalization
<script src="~/chart/Chart.bundle.js"></script>
<style>
    .text-white {
     color:white;
    }
</style>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

<section class="content-header">
    <h1>
        @{ 
            CultureInfo en = new CultureInfo("EN");
        }
        Dashboard :   @DateTime.Now.ToString("dd MMMM yyyy", en) <br />
        <small>Summary</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box inner">
                <a asp-action="Index" asp-controller="ReportAds" data-toggle="tooltip" data-placement="bottom" title="คลิกเพื่อดูรายงานวันนี้">
                    <div class="info-box-icon bg-aqua icon" style="height: 107px;">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="info-box-content">
                        <div class="description-block border-center">
                            <span class="description-percentage @ViewData["ads_color"]"><i class="fa @ViewData["ads_caret"]"></i> @ViewData["ads_percen"]%</span>
                            <h5 class="description-header">฿@ViewData["ads_amount"]</h5>
                            <span class="description-text">ยอดขายโฆษณาวันนี้</span>
                        </div>
                     
                    </div>
                    <br />
                   
                </a>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"  style="height: 107px;"><i class="fa fa-desktop"></i></span>
                <div class="info-box-content">
                    <div class="description-block border-center">
                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 17%</span>
                        <h5 class="description-header">$35,210.43</h5>
                        <span class="description-text">ยอดขาย Digital วันนี้</span>
                    </div>
                  
                </div>
                <br />
                
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"  style="height: 107px;"><i class="fa fa-newspaper-o"></i></span>

                <div class="info-box-content">
                    <div class="description-block border-center">
                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 17%</span>
                        <h5 class="description-header">$35,210.43</h5>
                        <span class="description-text">ยอดขายหนังสือพิมพ์วันนี้</span>
                    </div>
                   
                </div>
                <!-- /.info-box-content -->
                <br />
              
            </div>
           
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"  style="height: 107px;"><i class="fa fa-book"></i></span>

                <div class="info-box-content">
                    <div class="description-block border-center">
                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 17%</span>
                        <h5 class="description-header">$35,210.43</h5>
                        <span class="description-text">ยอดขายหนังสือวันนี้</span>
                    </div>
                  
                </div>
              
                <br />
              
            </div>
          
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!---row-->
  
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">รายได้รวม</h3>
                </div>
                <div class="tab-content no-padding">
                    <div id="chartContainerAlltype" style="height: 300px; width: 100%;">
                    </div>
                </div>
            </div>
        
            </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">ยอดขายหนังสือ</h3>
                </div>
                <div class="tab-content no-padding">
                    <div id="chartContainerGeo" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">รายได้ขายเศษวัสดุ</h3>
                </div>
                <div class="tab-content no-padding">
                    <div id="chartContainerSale" style="height: 300px; width: 100%;">
                    </div>
                </div>
            </div>

        </div>
              
            </div>


            <!---/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Advertising Report</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="nav-tabs-custom" style="cursor: move;">
                                        <!-- Tabs within a box -->
                                        <ul class="nav nav-tabs pull-right ui-sortable-handle">
                                            <li class="active"><a href="#aa" data-toggle="tab">Line</a></li>
                                            <li><a href="#bb" data-toggle="tab">Bar</a></li>
                                        </ul>
                                        <div class="tab-content no-padding">
                                            <!-- Morris chart - Sales -->
                                            <div class="chart tab-pane active" id="aa" style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <div id="chartContainer1" style="height: 300px; width: 100%;">
                                                </div>
                                            </div>
                                            <div class="chart tab-pane" id="bb" style="position: relative; height: 350px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                <div class="box-body">
                                                    <div class="box-body chart-responsive">
                                                        <div class="chart" id="bar-chart" style="height: 350px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                                            <svg height="300" version="1.1" width="787" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.5px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="32.59375" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.09375,261H761.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.59375" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.09375,202H761.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.59375" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">50</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.09375,143H761.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.59375" y="84" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">75</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.09375,84H761.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="32.59375" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">100</tspan></text><path fill="none" stroke="#aaaaaa" d="M45.09375,25H761.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="710.328125" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><text x="607.984375" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011</tspan></text><text x="505.640625" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2010</tspan></text><text x="403.296875" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2009</tspan></text><text x="300.953125" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2008</tspan></text><text x="198.609375" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2007</tspan></text><text x="96.265625" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2006</tspan></text><rect x="57.88671875" y="25" width="36.87890625" height="236" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="97.765625" y="48.60000000000002" width="36.87890625" height="212.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="160.23046875" y="84" width="36.87890625" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="200.109375" y="107.6" width="36.87890625" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="262.57421875" y="143" width="36.87890625" height="118" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="302.453125" y="166.60000000000002" width="36.87890625" height="94.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="364.91796875" y="84" width="36.87890625" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="404.796875" y="107.6" width="36.87890625" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="467.26171875" y="143" width="36.87890625" height="118" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="507.140625" y="166.60000000000002" width="36.87890625" height="94.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="569.60546875" y="84" width="36.87890625" height="177" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="609.484375" y="107.6" width="36.87890625" height="153.4" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="671.94921875" y="25" width="36.87890625" height="236" rx="0" ry="0" fill="#00a65a" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect><rect x="711.828125" y="48.60000000000002" width="36.87890625" height="212.39999999999998" rx="0" ry="0" fill="#f56954" stroke="none" fill-opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;"></rect></svg><div class="morris-hover morris-default-style" style="left: 63.5937px; top: 112px; display: none;">
                                                                <div class="morris-hover-row-label">2006</div><div class="morris-hover-point" style="color: #00a65a">
                                                                    CPU:
                                                                    100
                                                                </div><div class="morris-hover-point" style="color: #f56954">
                                                                    DISK:
                                                                    90
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<p class="text-center">
                                    </p>

                                    <div id="chartContainer" style="height: 300px; width: 100%;">
                                    </div>
                                    <!-- /.chart-responsive -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="description-block border-right text-left">
                                                <span><i class="fa fa-circle text-blue"></i> ยอดขายโฆษณา</span>
                                                <span><i class="fa fa-circle text-green"></i> ยอดขายดิจิตอล</span>
                                                <span><i class="fa fa-circle text-yellow"></i> ยอดขายหนังสือพิมพ์</span>
                                                <span><i class="fa fa-circle text-aqua"></i> ยอดขายหนังสือ</span>
                                            </div>
                                            <!-- /.description-block -->
                                        </div>
                                    </div>*@
                                </div>
                                <!-- /.col -->
                                <!-- /.col -->
                            </div>

                            <!-- /.row -->
                        </div>
                        <!-- ./box-body -->
                        <div class="box-footer">

                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage @ViewData["sales_color"]"><i class="fa @ViewData["sales_caret"]"></i> @ViewData["sales_percen"]%</span>
                                        <h5 class="description-header">@ViewData["sales_amount"]</h5>
                                        <span class="description-text">รวมยอดขายโฆษณา เดือน @DateTime.Now.ToString("MMMM") </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-yellow"><i class="fa fa-caret-up"></i> 0%</span>
                                        <h5 class="description-header">$10,390.90</h5>
                                        <span class="description-text">รวมยอดขายดิจิตอล เดือน @DateTime.Now.ToString("MMMM") </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                                        <h5 class="description-header">$24,813.53</h5>
                                        <span class="description-text">รวมยอดขายหนังสือพิมพ์ เดือน @DateTime.Now.ToString("MMMM")</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                                        <h5 class="description-header">1200</h5>
                                        <span class="description-text">รวมยอดขายหนังสือ เดือน @DateTime.Now.ToString("MMMM")</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-footer -->
                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">ร้อยละการเก็บเงินได้ของ Advertising</h3>
                        </div>
                        <div class="box-body no-padding">
                            <div class="row">
                                <div class="pad">
                                    <div class="">

                                        <div class="col-md-4">
                                            <div class="info-box bg-yellow">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">Print</span>
                                                    <span class="info-box-number">5,200</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 50%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        50% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <div class="info-box bg-green">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">New Media</span>
                                                    <span class="info-box-number">114,381</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 70%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        70% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <div class="col-md-4">
                                            <!-- /.info-box -->
                                            <div class="info-box bg-blue">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">สัมนา</span>
                                                    <span class="info-box-number">92,050</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 20%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        20% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->

                                            <div class="info-box bg-red">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">กิจกรรม</span>
                                                    <span class="info-box-number">163,921</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 40%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        40% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>
                                        <div class="col-md-4">
                                            <!-- /.info-box -->
                                            <div class="info-box bg-aqua">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">อีเว้นท์/โครงการ</span>
                                                    <span class="info-box-number">92,050</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 20%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        20% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->

                                            <div class="info-box bg-light-blue">
                                                <span class="info-box-icon"><i class="fa fa-group"></i></span>

                                                <div class="info-box-content">
                                                    <span class="info-box-text">อื่นๆ</span>
                                                    <span class="info-box-number">163,921</span>

                                                    <div class="progress">
                                                        <div class="progress-bar" style="width: 40%"></div>
                                                    </div>
                                                    <span class="progress-description">
                                                        40% Increase in 30 Days
                                                    </span>
                                                </div>
                                                <!-- /.info-box-content -->
                                            </div>
                                            <!-- /.info-box -->
                                        </div>


                                    </div>
                                    <!------>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">Target Advertising</h3>
                        </div>
                        <div class="box-body no-padding">
                            <div class="row">
                                <div class="pad">

                                    <div class="col-md-6">
                                        <div class="progress-group">
                                            <span class="progress-text">Print</span>
                                            <span class="progress-number"><b>160</b>/200</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                                            </div>
                                        </div>
                                        <!-- /.progress-group -->
                                        <div class="progress-group">
                                            <span class="progress-text">New Media</span>
                                            <span class="progress-number"><b>310</b>/400</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                                            </div>
                                        </div>
                                        <div class="progress-group">
                                            <span class="progress-text">สัมมนา</span>
                                            <span class="progress-number"><b>310</b>/400</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-blue" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="progress-group">
                                            <span class="progress-text">กิจกรรม</span>
                                            <span class="progress-number"><b>160</b>/200</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                            </div>
                                        </div>
                                        <!-- /.progress-group -->
                                        <div class="progress-group">
                                            <span class="progress-text">อีเว้นท์/โครงการ</span>
                                            <span class="progress-number"><b>310</b>/400</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                            </div>
                                        </div>
                                        <div class="progress-group">
                                            <span class="progress-text">อื่นๆ</span>
                                            <span class="progress-number"><b>310</b>/400</span>

                                            <div class="progress sm">
                                                <div class="progress-bar progress-bar-light-blue" style="width: 80%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

</section>
<script src="~/lib/jquery/dist/jquery-3.2.1.min.js"></script>
<script src="~/chart/moment.min.js"></script>
<script src="~/chart/Chart.js"></script>
<script src="~/chart/utils.js"></script>
<script>
		var timeFormat = 'MM/DD/YYYY HH:mm';

		function newDate(days) {
			return moment().add(days, 'd').toDate();
		}

		function newDateString(days) {
			return moment().add(days, 'd').format(timeFormat);
		}

		function newTimestamp(days) {
			return moment().add(days, 'd').unix();
		}

		var color = Chart.helpers.color;
		var config = {
			type: 'line',
			data: {
				labels: [ // Date Objects
					newDate(0),
					newDate(1),
					newDate(2),
					newDate(3),
					newDate(4),
					newDate(5),
					newDate(6)
				],
				datasets: [{
					label: "My First dataset",
					backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					borderColor: window.chartColors.red,
					fill: false,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
				}, {
					label: "My Second dataset",
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: window.chartColors.blue,
					fill: false,
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor()
					],
				}, {
					label: "Dataset with point data",
					backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
					borderColor: window.chartColors.green,
					fill: false,
					data: [{
						x: newDateString(0),
						y: randomScalingFactor()
					}, {
						x: newDateString(5),
						y: randomScalingFactor()
					}, {
						x: newDateString(7),
						y: randomScalingFactor()
					}, {
						x: newDateString(15),
						y: randomScalingFactor()
					}],
				}]
			},
			options: {
                title:{
                    text: "Chart.js Time Scale"
                },
				scales: {
					xAxes: [{
						type: "time",
						time: {
							format: timeFormat,
							// round: 'day'
							tooltipFormat: 'll HH:mm'
						},
						scaleLabel: {
							display: true,
							labelString: 'Date'
						}
					}, ],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'value'
						}
					}]
				},
			}
		};

		window.onload = function() {
			var ctx = document.getElementById("canvas").getContext("2d");
			window.myLine = new Chart(ctx, config);

		};

		document.getElementById('randomizeData').addEventListener('click', function() {
			config.data.datasets.forEach(function(dataset) {
				dataset.data.forEach(function(dataObj, j) {
					if (typeof dataObj === 'object') {
						dataObj.y = randomScalingFactor();
					} else {
						dataset.data[j] = randomScalingFactor();
					}
				});
			});

			window.myLine.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[config.data.datasets.length % colorNames.length];
			var newColor = window.chartColors[colorName]
			var newDataset = {
				label: 'Dataset ' + config.data.datasets.length,
				borderColor: newColor,
				backgroundColor: color(newColor).alpha(0.5).rgbString(),
				data: [],
			};

			for (var index = 0; index < config.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			config.data.datasets.push(newDataset);
			window.myLine.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (config.data.datasets.length > 0) {
				config.data.labels.push(newDate(config.data.labels.length));

				for (var index = 0; index < config.data.datasets.length; ++index) {
					if (typeof config.data.datasets[index].data[0] === "object") {
						config.data.datasets[index].data.push({
							x: newDate(config.data.datasets[index].data.length),
							y: randomScalingFactor(),
						});
					} else {
						config.data.datasets[index].data.push(randomScalingFactor());
					}
				}

				window.myLine.update();
			}
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			config.data.datasets.splice(0, 1);
			window.myLine.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			config.data.labels.splice(-1, 1); // remove the label first

			config.data.datasets.forEach(function(dataset, datasetIndex) {
				dataset.data.pop();
			});

			window.myLine.update();
		});
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

    function chartLine() {

        var json1;
        var data1

        jQuery.ajax({
            url: "../resultAmountDay/getAmountofDay",
            type: "POST",
            dataType: "json",
            async: false,
            success: function (data) {
                console.log("JSON Data: " + JSON.stringify(data));
                data1 = data;
                json1 = JSON.stringify(data);
            }
        });

        var chart = new CanvasJS.Chart("chartContainer1",
        {

            title: {
                text: "ยอดขาย ประจำเดือน มกราคม 2561 - กุมภาพันธ์ 2561"
            },
            data: [
            {
                type: "line",
                color: "#0073b7",
                dataPoints: $.parseJSON(JSON.stringify(data1))
            }
            ,
              {
                  type: "line",
                  color: "#00a65a",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 31000000 },
                  { label: "2 ม.ค.", y: 65000000 },
                  { label: "3 ม.ค.", y: 30000000 },
                  { label: "4 ม.ค.", y: 55000000 },
                  { label: "5 ม.ค.", y: 45000000 },
                  { label: "6 ม.ค.", y: 28000000 },
                  { label: "7 ม.ค.", y: 98000000 },
                   { label: "8 ม.ค.", y: 71000000 },
                  { label: "9 ม.ค.", y: 65000000 },
                  { label: "10 ม.ค.", y: 20000000 },
                  { label: "11 ม.ค.", y: 15000000 },
                  { label: "12 ม.ค.", y: 85000000 },
                  { label: "13 ม.ค.", y: 78000000 },
                  { label: "14 ม.ค.", y: 38000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 65000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 80000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 35000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 45000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 34000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 34000000 },
                  { label: "4 ก.พ.", y: 60000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 85000000 },
                  { label: "17 ก.พ.", y: 55000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 88000000 },
                  { label: "21 ก.พ.", y: 34000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 66000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 80000000 }

                  ]
              }
            ,
              {
                  color: "#f39c12",
                  type: "line",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 45000000 },
                    { label: "2 ม.ค.", y: 35000000 },
                  { label: "3 ม.ค.", y: 30000000 },
                  { label: "4 ม.ค.", y: 35000000 },
                  { label: "5 ม.ค.", y: 35000000 },
                  { label: "6 ม.ค.", y: 38000000 },
                  { label: "7 ม.ค.", y: 38000000 },
                   { label: "8 ม.ค.", y: 31000000 },
                  { label: "9 ม.ค.", y: 35000000 },
                  { label: "10 ม.ค.", y: 45000000 },
                  { label: "11 ม.ค.", y: 35000000 },
                  { label: "12 ม.ค.", y: 35000000 },
                  { label: "13 ม.ค.", y: 38000000 },
                  { label: "14 ม.ค.", y: 38000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 35000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 50000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 30000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 35000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 35000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 34000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 60000000 },
                  { label: "4 ก.พ.", y: 34000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 34000000 },
                  { label: "17 ก.พ.", y: 44000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 44000000 },
                  { label: "21 ก.พ.", y: 70000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 34000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 95000000 }

                  ]
              },
              {
                  type: "line",
                  color: "#00c0ef",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 71000000 },
                   { label: "2 ม.ค.", y: 45000000 },
                  { label: "3 ม.ค.", y: 60000000 },
                  { label: "4 ม.ค.", y: 85000000 },
                  { label: "5 ม.ค.", y: 25000000 },
                  { label: "6 ม.ค.", y: 58000000 },
                  { label: "7 ม.ค.", y: 68000000 },
                   { label: "8 ม.ค.", y: 11000000 },
                  { label: "9 ม.ค.", y: 65000000 },
                  { label: "10 ม.ค.", y: 88000000 },
                  { label: "11 ม.ค.", y: 45000000 },
                  { label: "12 ม.ค.", y: 65000000 },
                  { label: "13 ม.ค.", y: 50000000 },
                  { label: "14 ม.ค.", y: 48000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 35000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 30000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 40000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 35000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 50000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 34000000 },
                  { label: "4 ก.พ.", y: 34000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 34000000 },
                  { label: "17 ก.พ.", y: 44000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 48000000 },
                  { label: "21 ก.พ.", y: 34000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 90000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 40000000 }

                  ]
              }
            ]
        });

        chart.render();

    };

    function chartBar() {

        var json1;
        var data1

        jQuery.ajax({
            url: "../resultAmountDay/getAmountofDay",
            type: "POST",
            dataType: "json",
            async: false,
            success: function (data) {
                console.log("JSON Data: " + JSON.stringify(data));
                data1 = data;
                json1 = JSON.stringify(data);
            }
        });

        var chart = new CanvasJS.Chart("chartContainer",
        {

            title: {
                text: "ยอดขาย ประจำเดือน มกราคม 2561 - กุมภาพันธ์ 2561"
            },
            data: [
            {
                type: "column",
                color: "#0073b7",
                dataPoints: $.parseJSON(JSON.stringify(data1))
            }
            ,
              {
                  type: "column",
                  color: "#00a65a",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 31000000 },
                  { label: "2 ม.ค.", y: 65000000 },
                  { label: "3 ม.ค.", y: 30000000 },
                  { label: "4 ม.ค.", y: 55000000 },
                  { label: "5 ม.ค.", y: 45000000 },
                  { label: "6 ม.ค.", y: 28000000 },
                  { label: "7 ม.ค.", y: 98000000 },
                   { label: "8 ม.ค.", y: 71000000 },
                  { label: "9 ม.ค.", y: 65000000 },
                  { label: "10 ม.ค.", y: 20000000 },
                  { label: "11 ม.ค.", y: 15000000 },
                  { label: "12 ม.ค.", y: 85000000 },
                  { label: "13 ม.ค.", y: 78000000 },
                  { label: "14 ม.ค.", y: 38000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 65000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 80000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 35000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 45000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 34000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 34000000 },
                  { label: "4 ก.พ.", y: 60000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 85000000 },
                  { label: "17 ก.พ.", y: 55000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 88000000 },
                  { label: "21 ก.พ.", y: 34000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 66000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 80000000 }

                  ]
              }
            ,
              {
                  color: "#f39c12",
                  type: "column",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 45000000 },
                    { label: "2 ม.ค.", y: 35000000 },
                  { label: "3 ม.ค.", y: 30000000 },
                  { label: "4 ม.ค.", y: 35000000 },
                  { label: "5 ม.ค.", y: 35000000 },
                  { label: "6 ม.ค.", y: 38000000 },
                  { label: "7 ม.ค.", y: 38000000 },
                   { label: "8 ม.ค.", y: 31000000 },
                  { label: "9 ม.ค.", y: 35000000 },
                  { label: "10 ม.ค.", y: 45000000 },
                  { label: "11 ม.ค.", y: 35000000 },
                  { label: "12 ม.ค.", y: 35000000 },
                  { label: "13 ม.ค.", y: 38000000 },
                  { label: "14 ม.ค.", y: 38000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 35000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 50000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 30000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 35000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 35000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 34000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 60000000 },
                  { label: "4 ก.พ.", y: 34000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 34000000 },
                  { label: "17 ก.พ.", y: 44000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 44000000 },
                  { label: "21 ก.พ.", y: 70000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 34000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 95000000 }

                  ]
              },
              {
                  type: "column",
                  color: "#00c0ef",
                  dataPoints: [
                  { label: "1 ม.ค.", y: 71000000 },
                   { label: "2 ม.ค.", y: 45000000 },
                  { label: "3 ม.ค.", y: 60000000 },
                  { label: "4 ม.ค.", y: 85000000 },
                  { label: "5 ม.ค.", y: 25000000 },
                  { label: "6 ม.ค.", y: 58000000 },
                  { label: "7 ม.ค.", y: 68000000 },
                   { label: "8 ม.ค.", y: 11000000 },
                  { label: "9 ม.ค.", y: 65000000 },
                  { label: "10 ม.ค.", y: 88000000 },
                  { label: "11 ม.ค.", y: 45000000 },
                  { label: "12 ม.ค.", y: 65000000 },
                  { label: "13 ม.ค.", y: 50000000 },
                  { label: "14 ม.ค.", y: 48000000 },
                   { label: "15 ม.ค.", y: 31000000 },
                  { label: "16 ม.ค.", y: 35000000 },
                  { label: "17 ม.ค.", y: 30000000 },
                  { label: "18 ม.ค.", y: 35000000 },
                  { label: "19 ม.ค.", y: 35000000 },
                  { label: "20 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "22 ม.ค.", y: 35000000 },
                  { label: "23 ม.ค.", y: 30000000 },
                  { label: "24 ม.ค.", y: 35000000 },
                  { label: "25 ม.ค.", y: 40000000 },
                  { label: "26 ม.ค.", y: 38000000 },
                  { label: "27 ม.ค.", y: 38000000 },
                   { label: "28 ม.ค.", y: 35000000 },
                  { label: "29 ม.ค.", y: 35000000 },
                  { label: "30 ม.ค.", y: 38000000 },
                  { label: "21 ม.ค.", y: 38000000 },
                  { label: "1 ก.พ.", y: 50000000 },
                  { label: "2 ก.พ.", y: 44000000 },
                  { label: "3 ก.พ.", y: 34000000 },
                  { label: "4 ก.พ.", y: 34000000 },
                  { label: "5 ก.พ.", y: 44000000 },
                  { label: "6 ก.พ.", y: 34000000 },
                  { label: "7 ก.พ.", y: 34000000 },
                  { label: "8 ก.พ.", y: 44000000 },
                  { label: "9 ก.พ.", y: 34000000 },
                  { label: "10 ก.พ.", y: 34000000 },
                  { label: "11 ก.พ.", y: 44000000 },
                  { label: "12 ก.พ.", y: 34000000 },
                  { label: "13 ก.พ.", y: 34000000 },
                  { label: "14 ก.พ.", y: 44000000 },
                  { label: "15 ก.พ.", y: 34000000 },
                  { label: "16 ก.พ.", y: 34000000 },
                  { label: "17 ก.พ.", y: 44000000 },
                  { label: "18 ก.พ.", y: 34000000 },
                  { label: "19 ก.พ.", y: 34000000 },
                  { label: "20 ก.พ.", y: 48000000 },
                  { label: "21 ก.พ.", y: 34000000 },
                  { label: "22 ก.พ.", y: 34000000 },
                  { label: "23 ก.พ.", y: 44000000 },
                  { label: "24 ก.พ.", y: 90000000 },
                  { label: "25 ก.พ.", y: 34000000 },
                  { label: "26 ก.พ.", y: 44000000 },
                  { label: "27 ก.พ.", y: 34000000 },
                  { label: "28 ก.พ.", y: 40000000 }

                  ]
              }
            ]
        });

        chart.render();

     
    };



    $(window).ready(function(){

      //  chartBar();
        chartLine();
        //

        var chart = new CanvasJS.Chart("chartContainerAlltype",
  {
      title: {
       //   text: "Number of Persons involved in Traffic Accidents by Mode of Transport",
          margin: 15
      },
      toolTip: {
          shared: true
      },
      axisX: {
          valueFormatString: "MMM",
          interval: 1,
          intervalType: "month"
      },
      axisY: {
          maximum: 3100,
          interval: 1000
      },

      legend: {
          verticalAlign: "bottom",
          horizontalAlign: "center"
      },
      data: [
      {
          type: "stackedArea",
          name: "ขายโฆษณา",
          showInLegend: "true",
          dataPoints: [
          { x: new Date(2012, 00, 1), y: 1100 },
          { x: new Date(2012, 01, 1), y: 1200 },
          { x: new Date(2012, 02, 1), y: 1000 },
          { x: new Date(2012, 03, 1), y: 1200 },
          { x: new Date(2012, 04, 1), y: 1600 },
          { x: new Date(2012, 05, 1), y: 1800 },
          { x: new Date(2012, 06, 1), y: 1400 },
          { x: new Date(2012, 07, 1), y: 1500 },
          { x: new Date(2012, 08, 1), y: 1600 },
          { x: new Date(2012, 09, 1), y: 1800 }

          ]
      },
      {
          type: "stackedArea",
          name: "ขายเศษวัสดุ",
          showInLegend: "true",
          dataPoints: [
          { x: new Date(2012, 00, 1), y: 150 },
          { x: new Date(2012, 01, 1), y: 171 },
          { x: new Date(2012, 02, 1), y: 155 },
          { x: new Date(2012, 03, 1), y: 150 },
          { x: new Date(2012, 04, 1), y: 165 },
          { x: new Date(2012, 05, 1), y: 195 },
          { x: new Date(2012, 06, 1), y: 155 },
          { x: new Date(2012, 07, 1), y: 145 },
          { x: new Date(2012, 08, 1), y: 140 },
          { x: new Date(2012, 09, 1), y: 151 }

          ]
      },
      {
          type: "stackedArea",
          name: "ขายหนังสือ",
          showInLegend: "true",
          dataPoints: [
          { x: new Date(2012, 00, 1), y: 220 },
          { x: new Date(2012, 01, 1), y: 240 },
          { x: new Date(2012, 02, 1), y: 295 },
          { x: new Date(2012, 03, 1), y: 300 },
          { x: new Date(2012, 04, 1), y: 265 },
          { x: new Date(2012, 05, 1), y: 235 },
          { x: new Date(2012, 06, 1), y: 245 },
          { x: new Date(2012, 07, 1), y: 255 },
          { x: new Date(2012, 08, 1), y: 275 },
          { x: new Date(2012, 09, 1), y: 290 }

          ]
      }

      ]
  });

        chart.render();


        ///

        var chart = new CanvasJS.Chart("chartContainerGeo",
	{
	    theme: "theme2",
	    title: {
	        //text: "Gaming Consoles Sold in 2012"
	    },
	    data: [
		{
		    type: "pie",
		    showInLegend: true,
		    Content: "{y} - #percent %",
		    yValueFormatString: "#,##0,,.## Million",
		    legendText: "{indexLabel}",
		    dataPoints: [
              { y: 4181563, Text: 4181563, indexLabel: "กรุงเทพ" },
				{ y: 2175498, indexLabel: "ต่างจังหวัด" },
				{ y: 3125844, indexLabel: "ภาคเหนือ" },
				{ y: 1176121, indexLabel: "ภาคอีสาน" },
				{ y: 1727161, indexLabel: "ภาคตะวันออก" },
				{ y: 4303364, indexLabel: "ภาคตะวันตก" },
				{ y: 1717786, indexLabel: "ภาคใต้" }
		    ]
		}
	    ]
	});
        chart.render();

        ///


        var chart = new CanvasJS.Chart("chartContainerSale",
   {
       title: {
           // text: "Olympic Medals of all Times (till 2012 Olympics)"
       },
       axisY: {
           // title: "Medals won",
           maximum: 1010
       },
       data: [
       {
           type: "column",
           showInLegend: true,
           legendText: "หนังสือ",
           color: "gold",
           dataPoints: [
           { y: 198, label: "ม.ค." },
           { y: 201, label: "ก.พ." },
           { y: 202, label: "มี.ค." },
           { y: 236, label: "เม.ย." },
           { y: 395, label: "พ.ค." },
           { y: 957, label: "มิ.ย." }
           ]
       },
       {
           type: "column",
           showInLegend: true,
           legendText: "ปากเกร็ด",
           color: "silver",
           dataPoints: [
           { y: 166, label: "ม.ค." },
           { y: 144, label: "ก.พ" },
           { y: 223, label: "มี.ค." },
           { y: 272, label: "เม.ย." },
           { y: 319, label: "พ.ค." },
           { y: 759, label: "มิ.ย" }
           ]
       },
       {
           type: "column",
           showInLegend: true,
           legendText: "วัสดุ",
           color: "#DCA978",
           dataPoints: [
           { y: 185, label: "ม.ค." },
           { y: 128, label: "ก.พ." },
           { y: 246, label: "มี.ค." },
           { y: 272, label: "เม.ย." },
           { y: 296, label: "พ.ค." },
           { y: 666, label: "มิ.ย." }
           ]
       }
       ]
   });

        chart.render();

    })


</script>
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
    // This will get the first returned node in the jQuery collection.
    var areaChart       = new Chart(areaChartCanvas)

    var areaChartData = {
      labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label               : 'Electronics',
          fillColor           : 'rgba(210, 214, 222, 1)',
          strokeColor         : 'rgba(210, 214, 222, 1)',
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label               : 'Digital Goods',
          fillColor           : 'rgba(60,141,188,0.9)',
          strokeColor         : 'rgba(60,141,188,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [28, 48, 40, 19, 86, 27, 90]
        }
      ]
    }

    var areaChartOptions = {
      //Boolean - If we should show the scale at all
      showScale               : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : false,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - Whether the line is curved between points
      bezierCurve             : true,
      //Number - Tension of the bezier curve between points
      bezierCurveTension      : 0.3,
      //Boolean - Whether to show a dot for each point
      pointDot                : false,
      //Number - Radius of each point dot in pixels
      pointDotRadius          : 4,
      //Number - Pixel width of point dot stroke
      pointDotStrokeWidth     : 1,
      //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
      pointHitDetectionRadius : 20,
      //Boolean - Whether to show a stroke for datasets
      datasetStroke           : true,
      //Number - Pixel width of dataset stroke
      datasetStrokeWidth      : 2,
      //Boolean - Whether to fill the dataset with a color
      datasetFill             : true,
      //String - A legend template
      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].lineColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
      //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio     : true,
      //Boolean - whether to make the chart responsive to window resizing
      responsive              : true
    }

    //Create the line chart
    areaChart.Line(areaChartData, areaChartOptions)

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas          = $('#lineChart').get(0).getContext('2d')
    var lineChart                = new Chart(lineChartCanvas)
    var lineChartOptions         = areaChartOptions
    lineChartOptions.datasetFill = false
    lineChart.Line(areaChartData, lineChartOptions)

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieChart       = new Chart(pieChartCanvas)
    var PieData        = [
      {
        value    : 700,
        color    : '#f56954',
        highlight: '#f56954',
        label    : 'Chrome'
      },
      {
        value    : 500,
        color    : '#00a65a',
        highlight: '#00a65a',
        label    : 'IE'
      },
      {
        value    : 400,
        color    : '#f39c12',
        highlight: '#f39c12',
        label    : 'FireFox'
      },
      {
        value    : 600,
        color    : '#00c0ef',
        highlight: '#00c0ef',
        label    : 'Safari'
      },
      {
        value    : 300,
        color    : '#3c8dbc',
        highlight: '#3c8dbc',
        label    : 'Opera'
      },
      {
        value    : 100,
        color    : '#d2d6de',
        highlight: '#d2d6de',
        label    : 'Navigator'
      }
    ]
    var pieOptions     = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke    : true,
      //String - The colour of each segment stroke
      segmentStrokeColor   : '#fff',
      //Number - The width of each segment stroke
      segmentStrokeWidth   : 2,
      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout: 50, // This is 0 for Pie charts
      //Number - Amount of animation steps
      animationSteps       : 100,
      //String - Animation easing effect
      animationEasing      : 'easeOutBounce',
      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate        : true,
      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale         : false,
      //Boolean - whether to make the chart responsive to window resizing
      responsive           : true,
      // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
      maintainAspectRatio  : true,
      //String - A legend template
      legendTemplate       : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    pieChart.Doughnut(PieData, pieOptions)

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData                     = areaChartData
    barChartData.datasets[1].fillColor   = '#00a65a'
    barChartData.datasets[1].strokeColor = '#00a65a'
    barChartData.datasets[1].pointColor  = '#00a65a'
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
      //Boolean - whether to make the chart responsive
      responsive              : true,
      maintainAspectRatio     : true
    }

    barChartOptions.datasetFill = false
    barChart.Bar(barChartData, barChartOptions)
  })
</script>